.Rproj.user
.Rhistory
.RData
.Ruserdata
ZA7604_v1-0-0.dta
ZA7604_v1-0-0.sav
lgbti_dta.rds
lgbti_sav.rds
lgbti_ML.rds
lgbti_ML_partial.rds
lgbti_ML_full.rds
Predictors/
ZA7604_cod_mapping.xlsx
test_train_full_data.RData
rf_full_model.RData
rf_full_featimp.RData
logit_full_model.RData
logit_full_featimp.RData
test_train_partial_data.RData
rf_partial_model.RData
rf_partial_featimp.RData
logit_partial_model.RData
logit_partial_featimp.RData
misc/
fig/